/*{
	background-color: bisque;
}

table{
	background-color: skyblue;
	border: 1px solid green;
	width: 100%;
}

th.td.tr{
	border: 1px solid black;
	padding: 5px;
}
	*/
	
	.page-item.active .page-link{
		background-color: orange;
		border-color: orange;
	};
.page-link{
	color: gray !important;
	text-decoration: none !important;
}
	a{
		color: orange;
		 text-decoration: none !important;
	};
	.page-link:hover{
		color: white;
		background-color: black;
		
	};
	
	